@model BlogSite.Models.Article

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<div class="row" style="margin-top:1em">
    <div class="col-md-10">
        <div class="callout callout-danger">
            <h4>Makale Oluşturma Paneli</h4>
            <p>Blog sayfasında görünecek yeni bir makaleyi aşağıdaki panelde ekleyebilirsiniz</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Makale Bilgilerini Giriniz
                </h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Article_Title, "Makale Başlığı", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Article_Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Article_Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Article_Content, "Makale İçerik", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Article_Content, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Article_Content, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article_Foto, "Fotoğraf", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="foto" id="foto" accept=".jpg,.png,.gif,.JPEG,JPEG" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Article_Foto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article_Date, "Oluşturulma Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Article_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.Article_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-3">
                        @Html.ActionLink("Makaleler Listesine Geri Dön", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
